.wp-block-uagb-column h3.has-text-color::after {
	content: "";
	display: inline-block;
	width: 1.1rem;
	height: 1.1rem;
	margin-left: .3em;
	border: 4px solid #FFE404;
	border-width: 0 4px 4px 0;
	position: relative;
	top: -.2rem;
	left: -.2rem;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg)
}

.wp-block-uagb-column h3.has-text-color {
	white-space: nowrap
}

.wp-block-uagb-column h3.has-text-color::after {
	margin-left: 0
}

.full-width-content .alignfull {
	width: auto
}

.site-header,
.site-header .wrap.is-at-top {
	background-color: transparent
}

.site-header .site-title {
	text-align: left
}

.site-header .site-title img {
	width: auto
}

.site-header .title-area {
	padding-left: 1.5rem
}

/* fix college link so it's legible */

.site-header .college-dept-title {
	background-color: #500000;
	text-align: right;
	padding: .2rem 0;
	font-family: "Open Sans", sans-serif;
	font-size: .9rem
}
.site-header .college-dept-title a {
    color: #fff;
		text-decoration: none;
}
.site-header .college-dept-title a:hover,  .site-header .college-dept-title a:focus {
    text-decoration: underline;
}

@media print,
screen and (min-width: 40em) {
	.site-header .title-area {
		padding-left: 0
	}
	.site-header .header-grid-container {
		padding-top: 1rem;
		padding-bottom: 1rem
	}
}

.nav-primary {
	background-color: #500000;
}

.nav-primary .menu .is-active>a,
.nav-primary .dropdown.menu>li.is-active>a,
.nav-primary .top-bar .submenu a[href="#"]:hover {
	background-color: #500000;
}

.nav-primary .top-bar .submenu,
.nav-primary .top-bar .submenu ul {
	background-color: #500000;
}

.nav-primary .top-bar .submenu a:hover {
	background-color: #500000;
	text-decoration: underline;
}

.nav-primary a,
.nav-primary a:hover,
.nav-primary li:hover a,
.nav-primary li:hover .menu-depth-1 a,
.nav-primary .menu-depth-1 a {
	color: #F8F8F8;
}

@media screen and (max-width: 39.94em) {
	.nav-primary .top-bar,
	.nav-primary .top-bar ul {
		background-color: transparent
	}
	.nav-primary .menu a {
		-webkit-transition: none;
		transition: none
	}
	.nav-primary .menu a:hover {
		background-color: transparent
	}
}

@media print,
screen and (min-width: 40em) {
	.nav-primary,
	.nav-primary .top-bar,
	.nav-primary .top-bar ul {
		background-color: #060606;
	}
	.nav-primary .menu-primary>li>a:hover,
	.nav-primary .menu-primary>li.is-active>a {
		background-color: #560000;
	}
}

.submenu li.linked>a:hover,
.submenu li.linked>a:focus {
	background-color: #500000;
}

.title-bar.title-bar-navigation .menu-icon::after,
.title-bar.title-bar-navigation .menu-icon:hover::after {
	background-color: #000;
	-webkit-box-shadow: 0 8px 0 #000, 0 16px 0 #000;
	box-shadow: 0 8px 0 #000, 0 16px 0 #000;
}

.site-footer,
.site-footer .footer-container {
	background-color: #500000;
}

/* ------  Style updates for NC Revamp - Spring 2022 - EB ----- */

/* add maroon to headers and footers */
.nav-primary, .nav-primary .top-bar, .nav-primary .top-bar ul {
    background-color: #500000;
}
.site-footer {
    background-color: #500000;
}
/*Add padding above social icons */
#a2a_follow_widget-2 {
	padding-top: 1rem;
}
/* Remove padding for the top of pages with covers or background blocks at the top */ 
#landing-page-title, #interior-page-heading-block, #interior-page-cover {
	margin-top: -2rem;
} 
/* Align page titles with the rest of the page content */
#landing-page-title .wp-block-cover__inner-container {
	width: 75rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}
/* Align footer content left */
.site-footer .footer-container p {
    text-align: left;
    padding-left: 0.94rem;
    padding-right: 0.94rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 74rem;
}
.site-footer .footer-container ul {
	text-align: left;
}
.site-footer .req-links li:first-child {
    padding-left: 0.65rem !important;
}
/* make button border and hover brand-approved red */
body .wp-block-file .wp-block-file__button, body .wp-block-button .wp-block-button__link, .ab-button-shape-circular, .ab-block-cta .ab-button-shape-circular{
	border-left-color: #e4002b !important;
}
a.wp-block-button__link:hover {
	box-shadow: none !important;
	background-color: #e4002b !important;
}
/* give white buttons a maroon hover state */
a.uagb-infobox-cta-link:hover, .entry .entry-content a.uagb-infobox-cta-link:hover, a.uagb-infobox-link-wrap:hover, .entry .entry-content a.uagb-infobox-link-wrap:hover .entry .entry-content a.uagb-infobox-cta-link:hover {
    color: #fff;
    background-color: #500000;
}


/* set a max width for paragraph text for legibility */
p {
	max-width: 900px;
}
.has-text-align-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* remove borders on tables and replace with drop shadows. */
.wp-block-table.is-style-stripes {
    border: 1px solid #f0f0f0;
    box-shadow: 0 0 10px rgb(112 112 112 / 20%);
    -webkit-box-shadow: 0 0 10px rgb(112 112 112 / 20%);
    -moz-box-shadow: 0 0 10px rgba(112, 112, 112, 0.2);
}
.wp-block-table .table {
    border: 0 !important;
}
/* Table interior borders */

table {
    border: 1px solid #f0f0f0;
    margin-bottom: 0;
}
thead tr {
    background-color: #d1d1d1 !important;
}
th {
    padding: 1rem 0.75rem;
    border: 1px solid #fff !important;
}

.wp-block-table.is-style-stripes tbody tr:nth-child(odd) td {
    border: 1px solid #fff;
}
.wp-block-table.is-style-stripes tbody tr:nth-child(even) td {
    border: 1px solid #f0f0f0;
}



/* remove negative top margin for first child images */
.wp-block-cover:first-child, .wp-block-image:first-child {
    margin-top: 0;
}

/* Prettifying stat row */
#stat-row .uagb-columns__inner-wrap {
	width: 75%;
}
#stat-row .uagb-ifb-title-prefix {
	font-family: 'Oswald', sans-serif;
	font-weight: 200;
	font-size: 3.5rem;
}

